.test {
  border: 1px solid red;
  height: 100%;
}

.h-86 {
  height: 86px;
}

.bolt {
  font-size: 18px;
  color: yellow;
}

.top-container {
  margin-left: 24.5px;
  margin-right: 24.5px;
}

.card-container {
  min-width: 1024px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  margin-top: -12.5px;
}

@media screen and (max-width: 1023px) {
  .card-container {
    min-width: auto;
    max-width: 809px;
    margin-left: 70.5px;
    margin-right: 70.5px;
  }
  .top-container {
    margin-left: 82.5px;
    margin-right: 82.5px;
  }
}

@media screen and (max-width: 808px) {
  .card-container {
    min-width: auto;
    max-width: 447px;
  }
  .top-container {
    margin-left: 53px;
  }
  .card-layout {
    width: 343px !important;
  }
}

@media screen and (max-width: 446px) {
  .card-container {
    min-width: auto;
    max-width: 350px;
  }
  .top-container {
    margin-left: 5px;
  }
  .card-layout {
    width: 343px !important;
  }
}

.card-layout {
  background: inherit !important;
  width: 309px;
  height: 261px;
  margin: 12px;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.card {
  background-color: black;
  color: white;
  height: 240px;
  width: 100%;
  /* padding: 5px; */
  border-radius: 0.8rem;
}

.card-full {
  background-color: #121212;
  color: white;
  height: 240px;
  width: 100%;
  /* padding: 5px; */
  border-radius: 0.8rem;
}

.card-top {
  padding: 5px;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  /* background-color: grey; */
  background-position: center;
  background-size: 100%;
  opacity: 1;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Avenir Next";
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  line-height: 14px;
}

.card-top-video {
  /* height: 299px; */
}

.card-top-date {
  margin-top: 2px;
}

.card-bottom {
  color: #ffffff;
  font-family: "Avenir Next";
  text-transform: capitalize;
  font-size: 16px;
  line-height: 25px;
  padding: 5px;
}

.card-full-body {
  background-color: #121212;
}
.card-full-article {
  padding: 5px;
  color: #ffffff;
  font-family: "Avenir Next";
  font-size: 14px;
  line-height: 20px;
  height: 145px;

  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: normal; */
}

.card-tags {
  color: #ff217b;
  font-family: "Avenir Next";
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  padding-top: 7px;
}

.page-title {
  height: 41px;
  width: 258px;
  color: #ffffff;
  font-family: "Avenir Next";
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.06px;
  line-height: 41px;
}

.page-filters {
  height: 19px;
  width: 51px;
  color: #ffffff;
  font-family: "Avenir Next";
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}
