@tailwind base;

/* Base style here */
body {
  background: black;
  background-image: url("../images/bg-test2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

@font-face {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Avenir Next";
  src: url(./font/AvenirNextLTPro-Regular.otf) format("otf");
}

@tailwind components;

@tailwind utilities;

@import "./custom-utilities.css";
